*{box-sizing:border-box; padding:0; margin:0}
.clr{clear:both}

/*===CONTAINAR-1===*/

.containar{max-width:100%; background:#fff}
.wrap{max-width:65%; margin:0 auto}
.top-hdr{width:100%}
.fst-ul{float:left; padding-left:100px}
.fst-ul li{list-style:none; display:inline-block; color:#d0cdcc}
.fst-ul li a{
    padding-left:18px;
    padding-right:18px;
    color:#2a2a2a;
    font-size:17px;
    line-height:63px;
    font-weight:700;
    position:relative;
    z-index:100;
    text-decoration:none
}
.fst-ul li a:hover{color:#e42442}

.scond-ul{float:right}
.scond-ul li{list-style:none; line-height:63px; display:inline-block; color:#d0cdcc}
.scond-ul li .v-logo{width:12px; height:12px; margin-right:5px}
.scond-ul li .m-logo{width:15px; height:12px; margin:0 7px 0 7px}
.scond-ul li i{margin-left:5px}
.scond-ul li a{
    padding-left:0px;
    padding-right:16px;
    color:#2a2a2a;
    font-size:17px;
    
    text-decoration:none
}
.scond-ul .last-child{padding-right:0px; color:#e42442; font-weight:700}


/*===CONTAINAR-2===*/

.containar2{max-width:100%; background:#de1d36}
.wrap2{max-width:65%; margin:0 auto; position:relative}
.hdr{width:100%}
.logo{position:absolute; left:0; top:-39px}
.srch-bar{float:right; line-height:72px; overflow:hidden;}
.srch-bar input{
    width:336px;
    padding: 12px 20px 12px 50px;
    height: 48px; 
    background-image: url(../image/register/banana.png) ; 
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 3px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    border:none
}
.srch-bar a{
    width:18px;
    height:17px;
    padding-left:15px;
    line-height:72px;
}

/*===CONTAINAR-3===*/

.containar3{width:100%; padding:30px 0 37px 0; background:url(../image/main-bg.jpg)}
.wrap3{max-width:65%; margin:0 auto; background:#fff; box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .7); border-radius:5px}
.steps{width:100%}
.steps ul{padding:30px 0 0 30px; float:left; list-style:none}
.steps ul li{display:inline-block;}
.steps ul li:nth-child(3) a{color:#e4233d; font-weight:600}
.steps ul li a{padding:0 20px 0 15px; text-decoration:none; font-size:16px; line-height:17px; color:#434343}
.steps ul li i{color:#e12039}
.steps p{padding:30px 32px 0 0; float:right; font-size:16px; line-height:17px; color:#2a2a2a}
.steps p a{text-decoration:none; color:#e4233d; font-weight:600}

.image{width:70%; margin:0 auto; padding-top:80px}
.image .food{float:left}
.image .f-titel{float:left; margin-left:28px}
.image .f-titel h1{font-size:23px; line-height:24px; font-weight:700; color:#2a2a2a}
.image .f-titel .p1{margin-top:5px; font-size:17px; line-height:18px; color:#656565}
.image .f-titel .p2{margin-top:5px; font-size:17px; line-height:18px; color:#656565}
.image .f-titel .p2 span{font-weight:600}

.paywith{width:70%; margin:0 auto; padding-top:25px; position:relative}
.card{width:100%; margin-bottom:220px; list-style:none}
.card > li{padding-left:50px; margin-top:5px; border:1px solid#d5d5d5; border-radius:3px; position:relative}
.card >:first-child label{font-size:15px; font-weight:500; color:#656565; line-height:52px;}
.card > li > input[type="radio"]{width:21px; height:21px; position:absolute; left:15px; top:15px}
.card > li > label{font-size:15px; color:#656565; line-height:52px;}
.card > li > img{margin-left:15px; position:absolute; top:9px}
.card > li > ul{width:448px; padding-left:42px; list-style:none; background:#fff; position:absolute; left:30%; top:10px; z-index:100}
.card > li > ul > li h2{padding:5px 0 0 5px; font-size:18px; font-weight:600; line-height:19px; color:#e12038}
.card > li > ul > li{width:100%;}
.card > li > ul > li input{height:48px; padding:10px; font-size:15px; color:#a6a6a6; height:48px; border-radius:3px; border:1px solid#d6d6d6}
.card > li > ul > li .name input{width:48%}

.card > li > ul > li .c-numbar{width:100%; padding-top:12px}
.card > li > ul > li .c-numbar input{width:71%}

.card > li > ul > li .e-date{padding-top:12px}
.card > li > ul > li .e-date .f-slct{width:40%; padding-left:10px; font-size:15px; height:48px; color:#2a2a2a; border-radius:3px; border:1px solid#d6d6d6}
.card > li > ul > li .e-date .s-slct{width:20%; font-size:15px; height:48px; color:#2a2a2a; border-radius:3px; border:1px solid#d6d6d6}

.card > li > ul > li .address input{width:100%; margin-top:12px}

.card > li > ul > li .city{width:100%; padding:12px 0 20px 0}
.card > li > ul > li .city .sub-city{width:50%}
.card > li > ul > li .city .state{width:18%; margin-left:2%}
.card > li > ul > li .city .zip{width:25%; margin-left:2%}

.submit{width:100%}
.continue{float:right}
.continue i{margin:15px 10px 0 0; float:left}
.continue p{padding-right:28px; float:left; font-size:15px; line-height:48px}
.continue a{
    width:107px;
    height:48px;
    display:block;
    float:left;
    color:#fff;
    font-size:16px;
    line-height:48px;
    text-align:center;
    font-weight:600;
    background:#e52645;
    border-radius:3px
}

/*===FOOTER===*/

.ftr{width:100%; background:url(../image/ftr-bg.png)}
.wrap4{width:65%; margin: 0 auto}
.ftr-hdr{padding-bottom:14px}
.ftr-hdr .city{float:left; padding-top:22px}
.ftr-hdr .city li{padding-right:14px; display:inline-block; list-style:none; line-height:28px}
.ftr-hdr .city li span{font-size:18px; color:#ffc119; font-weight:500}
.ftr-hdr .city li a{width:28px; height:28px; display:block; background:#e42442; color:#fff; border-radius:3px; text-align:center;}


.ftr-hdr .media{float:right; padding-top:13px}
.ftr-hdr .media li{padding-left:8px; display:inline-block; list-style:none}
.ftr-hdr .media li:nth-child(1) a{
    width:38px;
    height:38px;
    display:block;
    background:#3b5998;
    color:#fff;
    line-height:38px;
    border-radius:3px;
    text-align:center
}
.ftr-hdr .media li:nth-child(2) a{
    width:38px;
    height:38px;
    display:block;
    background:#44ccf6;
    color:#fff;
    line-height:38px;
    border-radius:3px;
    text-align:center
}

.details{padding-bottom:13px; border-top:1px solid#393939}
.details .col{float:left; padding-top: 30px; border-left:1px solid#393939}
.details .col p a{text-decoration:none; font-size:15px; line-height:32px; color:#fff}
.details .box-1{width:17%; border:none}
.details .box-2{width:18.5%; padding-left:44px; padding-bottom:60px}
.details .box-3{width:18.5%; padding-left:42px; padding-bottom:60px}
.details .box-4{width:21%; padding-left:42px; padding-bottom:28px}
.details .box-5{width:25%; border:none}

.details .box-5 .star{
    width:100%;
    padding-left:65px;
    display:block;
    border-radius:3px;
    background-image:url(../image/ster.png);
    background-repeat:no-repeat;
    background-position:13px 17px;
    background-color:#393939;
    
}
.details .box-5 .star h3{padding-top:20px; font-size:15px; line-height:16px; font-weight:600; color:#fff}
.details .box-5 .star a{padding-bottom:20px; text-decoration:none; font-size:13px; line-height:14px; color:#bfbfbf}
.details .box-5 .star a i{margin:0 0 17px 5px; color:#fff}

.details .box-5 .phone{
    width:100%;
    padding-left:65px;
    margin-top:10px;
    display:block;
    border-radius:3px;
    background-image:url(../image/mobile.png);
    background-repeat:no-repeat;
    background-position:20px 15px;
    background-color:#393939;
    
}
.details .box-5 .phone h3{padding-top:20px; font-size:15px; line-height:16px; font-weight:600; color:#fff}
.details .box-5 .phone a{padding-bottom:20px; text-decoration:none; font-size:13px; line-height:14px; color:#bfbfbf}
.details .box-5 .phone a i{margin:0 0 17px 5px; color:#fff}

.details .box-5 .chat{
    width:100%;
    padding-left:65px;
    margin-top:10px;
    display:block;
    border-radius:3px;
    background-image:url(../image/chat.png);
    background-repeat:no-repeat;
    background-position:15px 20px;
    background-color:#393939;
    
}
.details .box-5 .chat h3{padding-top:20px; font-size:15px; line-height:16px; font-weight:600; color:#fff}
.details .box-5 .chat a{padding-bottom:20px; text-decoration:none; font-size:13px; line-height:14px; color:#bfbfbf}
.details .box-5 .chat a i{margin:0 0 17px 5px; color:#fff}

.copy-right p{padding-bottom:158px; font-size:15px; line-height:16px; color:#888787}